site_name: Gorilla API
site_url: http://localhost:3000
site_description: REST API for Gorilla Tag developers to access stuff like cosmetic data.
site_author: TornadoVR1

repo_name: Gorilla API
repo_url: https://github.com/FrontiersDev/gorilla-api

theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/logo.svg
  palette: 
    - scheme: slate 
      primary: teal
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: teal
      accent: amber
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - content.code.copy
    - navigation.expand
    - navigation.sections

nav:
  - Home: index.md
  - API Reference:
    - Cosmetic Requesting: api/item-details.md
  - Developer Guides:
    - Discord Bot (Node.js): guides/discord-bot.md
    - Modding (C#): guides/modding.md
    - Website (JS): guides/frontend.md

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences